flask==2.1.2
flask-sqlalchemy==2.5.1
flask-socketio==5.2.0
flask-migrate==3.1.0
flask-apscheduler==1.12.4
apscheduler==3.9.1
orjson==3.7.5
jsonpath==0.82
pyjwt[crypto]==2.4.0
pycryptodome==3.15.0
pydantic==1.9.1
python-dotenv==0.20.0
environs==9.5.0
gevent
uwsgi
pymeter @ git+https://github.com/YeKelvin/pymeter.git@dev
